@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts: lucinda */

@font-face {
    font-family: lucidahandwriting;
    src: url(../public/css/fonts/lucidahandwriting.ttf);
  }
.font-hand {
    font-family: lucidahandwriting;
  }