@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts: lucinda */

@font-face {
    font-family: lucidahandwriting;
    src: url(../public/css/fonts/lucidahandwriting.ttf);
  }
.font-hand {
    font-family: lucidahandwriting;
  }
  .icon{
    font-size: 20px;
}
@media screen and (min-width:768px) {
    .icon{
        font-size: 25px;
    }
}
@media screen and (min-width:1280px) {
  .icon{
    font-size: 35px;
  }
}